<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.hrb.tusousou.dao.AddressDao">
    <resultMap id="AddressMap" type="com.oracle.hrb.tusousou.pojo.Address">
        <id column="a_id" property="id"></id>
        <result column="a_name" property="name"></result>
        <result column="a_phone" property="phone"></result>
        <result column="a_address" property="address"></result>
        <association property="user" column="a_user_id" javaType="com.oracle.hrb.tusousou.pojo.User"
                     select="com.oracle.hrb.tusousou.dao.UserDao.findById">
        </association>
    </resultMap>
    <select id="findByUserId" resultMap="AddressMap">
        select * from address  where a_user_id = #{id}
    </select>
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into address (a_user_id,a_name,a_phone,a_address) values(#{user.id},#{name},#{phone},#{address})
    </insert>
    <delete id="delete">
        delete from address where a_id = #{id}
    </delete>
    <update id="update">
        update address
        <set>
            <if test="name!=null">
                a_name = #{name},
            </if>
            <if test="phone!=null">
                a_phone = #{phone},
            </if>
            <if test="address!=null">
                a_address = #{address},
            </if>
        </set>
        where a_id = #{id}
    </update>
    <select id="findById" resultMap="AddressMap">
        select * from address where a_id = #{id}
    </select>
</mapper>
